@charset "UTF-8";

.reserve_title {
	color: #3D7373;
	position: relative;
	margin-left: 25px;
}

.reserve_title:before {
	position: absolute;
	top: 0;
	left: -25px;
	display: block;
	content: '';
	background-color: #3D7373;
	width: 10px;
	height: 35px;
}

.class_info_box {
	border-top: 2px solid #3D7373;
	border-bottom: 2px solid #3D7373;
	padding: 20px;
	margin-top: 20px;
}

.class_info_box>h3 {
	color: #3D7373;
}

.class_info {
	display: flex;
	gap: 20px;
	margin-top: 20px;	
}

.img_box {
	width: 65%; 
	height: 350px;
	background-size: auto 350px;
	background-position: center;
}

.class_detail {
	flex: 1;
}

.class_detail>div {
	margin: 20px 0;
	border-bottom: 1px solid #3D7373;
}

.class_detail>div>p:first-child {
	font-weight: bold;
	color: #3D7373;
}

.content {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.pay_form {
	padding: 20px;
	width: 63%;
}

.pay_form>h2 {
	margin-bottom: 50px;
}

.pay_form>h3 {
	margin-bottom: 20px;
	color: #3D7373;
}

.pay_form>h4 {
	margin-bottom: 20px;
}

.pay_form>div {
	margin: 20px 0;
	border-bottom: 1px solid #3D7373;
}

.pay_form>div>p:first-child {
	font-weight: bold;
	color: #3D7373;
}

.total {
	display: inline-block;
}

.pay_user_info {
	display: flex;
	gap: 20px;
}

.user_info {
	position: relative;
	flex: 1;
	padding: 20px;
}

.user_info:before {
	content: "";
	width: 1px;
	height: 372px;
	display: block;
	position: absolute;
	top: 25px;
	left: -10px;
	background: #3D7373;
}

.user_info>h3 {
	margin-bottom: 20px;
	color: #3D7373;
}

.user_info>div {
	margin: 20px 0;
	border-bottom: 1px solid #3D7373;
}

.user_info>div>p:first-child {
	font-weight: bold;
	color: #3D7373;
}

.pay_btn_box {
	display: flex;
	gap: 2%;
	width: 100%;
	height: 80px;
	margin: 0 0 20px;
	border: none;
}

.pay_btn {
	width: 49%;
	height: 80px;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}

.kakao_pay_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 2px solid #3D7373;
	background: #ffeb00;
	color: #000;
	font-weight: bold;
}

.kg_pay_btn {
	border: 2px solid #3D7373;
	background: #3D7373;
	color: #fff;
}

.kakao_pay_icon {
	width: 100px;
	height: 45px;
	background-image: url('/resources/img/payment_icon_yellow_small.png');
	background-position: center;
	background-repeat: no-repeat;
}

