<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.classIT.mapper.AnswerMapper">

	<select id="getOne" resultType="com.classIT.domain.AnswerVO">
		SELECT a.answer_no, a.question_no, a.answer_text, a.user_id, a.answer_date, m.user_role
		FROM answer a
        INNER JOIN member m
		ON a.user_id = m.user_id
		WHERE a.answer_no = #{answer_no} 
	</select>
	

	<select id="getList" resultType="com.classIT.domain.AnswerVO">
		SELECT a.answer_no, a.question_no, a.answer_text, a.user_id, a.answer_date, m.user_role
		FROM answer a
        INNER JOIN member m
		ON a.user_id = m.user_id
		WHERE a.question_no = #{question_no} 
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="answer_no" order="BEFORE" resultType="long">
			select seq_answer.nextval from dual
		</selectKey>
		INSERT INTO answer(answer_no, question_no, answer_text, user_id)
		VALUES (#{answer_no}, #{question_no}, #{answer_text}, #{user_id})	
	</insert>
	
	<update id="update">
		UPDATE answer
		SET  answer_text = #{answer_text}
		WHERE answer_no=#{answer_no} AND user_id=#{user_id}
	</update>
	
	<delete id="delete">
		DELETE FROM answer
		WHERE answer_no=#{answer_no} AND user_id=#{user_id}
	</delete>


	<select id="getCount" resultType="int">
		SELECT count(answer_no)
		FROM answer
		WHERE question_no = #{question_no} AND user_id=#{user_id}
	</select>
	
	<select id="getOwnerId" resultType="String">
		SELECT owner_id
		FROM product_tbl
		WHERE product_no = #{product_no}
	</select>

</mapper>