<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.classIT.mapper.ReviewMapper">

	<resultMap id="UserReviewResultMap" type="com.classIT.domain.UserReviewDTO">
	    <association property="review" javaType="com.classIT.domain.ReviewVO">
	        <id property="review_no" column="review_no" />
	        <result property="reserve_no" column="reserve_no" />
			<result property="review_title" column="review_title" />
			<result property="review_text" column="review_text" />
			<result property="review_date" column="review_date" />
			<result property="review_rate" column="review_rate" />
			<result property="review_img" column="review_img" />
			<result property="user_id" column="user_id" />
	    </association>
	    <association property="reserve" javaType="com.classIT.domain.ReserveVO">
	        <id property="reserve_no" column="reserve_no" />
	        <result property="owner_id" column="owner_id" />
	        <result property="user_id" column="user_id" />
	        <result property="product_no" column="product_no" />
	        <result property="schedule_no" column="schedule_no" />
	        <result property="reserve_number" column="reserve_number" />
	        <result property="reserve_amount" column="reserve_amount" />
	        <result property="reserve_approval" column="reserve_approval" />
	        <result property="reserve_date" column="reserve_date" />	        	        	        
	    </association>
	    <association property="schedule" javaType="com.classIT.domain.ScheduleVO">
	        <id property="schedule_no" column="schedule_no" />
	        <result property="product_no" column="product_no" />
	        <result property="schedule" column="schedule" />
	    </association>
	    <association property="product" javaType="com.classIT.domain.ProductVO">
	        <id property="product_no" column="product_no" />
	        <result property="product_title" column="product_title" />
	        <result property="owner_id" column="owner_id" />
	        <result property="class_category" column="class_category" />
	        <result property="main_img" column="main_img" />
	        <result property="class_detail" column="class_detail" />
	        <result property="price_per_person" column="price_per_person" />
	        <result property="max_capacity" column="max_capacity" />
	        <result property="location" column="location" />
	        <result property="location_code" column="location_code" />
	    </association>

	</resultMap>

  	
  	<select id="getOne" resultType="com.classIT.domain.ReviewVO">
	    SELECT * 
	    FROM review
	    WHERE review_no = #{review_no}
  	</select>
  
  	<select id="getList" resultType="com.classIT.domain.ReviewVO">
	  	SELECT r.review_no, r.reserve_no, r.user_id, r.review_title, r.review_text, r.review_date, r.review_rate, r.review_img
	  	FROM review r 
	  	JOIN reserve rs
	  	ON r.reserve_no = rs.reserve_no
		WHERE rs.product_no = #{product_no}  	
		ORDER BY r.review_date DESC
  	</select>  

	<!-- 
		SELECT 
		    r.review_no,
		    r.reserve_no,
		    r.user_id,
		    r.review_title,
		    r.review_text,
		    r.review_date,
		    r.review_rate,
		    rs.owner_id,
		    rs.schedule_no,
		    rs.reserve_number,
		    rs.reserve_amount,
		    rs.reserve_approval,
		    rs.reserve_date,
		    st.schedule,
		    pt.product_no,
		    pt.product_title,
		    pt.class_category
		FROM review r 
		INNER JOIN reserve rs 
		    ON r.reserve_no = rs.reserve_no
		INNER JOIN schedule_tbl st    
		    ON rs.schedule_no = st.schedule_no
		INNER JOIN product_tbl pt
		    ON st.product_no = pt.product_no
		WHERE r.user_id = #{user_id}
		
	</select> -->
  	
  	<select id="getListForUser" resultMap="UserReviewResultMap">
  		SELECT 
  	
		    r.review_no,
		    r.review_title,
		    r.review_text,
		    r.review_date,
		    r.review_rate,
		    r.review_img,
   		    rs.user_id,
		    rs.reserve_no,
		    rs.owner_id,
		    rs.schedule_no,
		    rs.reserve_number,
		    rs.reserve_amount,
		    rs.reserve_approval,
		    rs.reserve_date,
		    st.schedule,
		    pt.product_no,
		    pt.product_title,
		    pt.class_category
		FROM  reserve rs
		JOIN product_tbl pt
		    ON rs.product_no = pt.product_no
		JOIN schedule_tbl st    
		    ON rs.schedule_no = st.schedule_no
		LEFT JOIN  review r
		    ON rs.reserve_no = r.reserve_no
		WHERE rs.user_id = #{user_id}
		ORDER BY rs.reserve_no DESC
  	</select>
  	
  	<insert id="insert">
		<selectKey keyProperty="review_no" order="BEFORE" resultType="long">
			select seq_review.nextval from dual
		</selectKey>
		INSERT INTO
		review(review_no,reserve_no,review_title,review_text,review_rate,user_id,review_img)
		VALUES(#{review_no},#{reserve_no},#{review_title},#{review_text},#{review_rate},#{user_id},#{review_img})
  	</insert>
  	
  	<update id="update">
  		UPDATE review
  		SET review_title = #{review_title}, review_text = #{review_text}, review_rate = #{review_rate}, review_img = #{review_img}
  		WHERE review_no = #{review_no} AND user_id = #{user_id}
  	</update>
  	
  	<delete id="delete">
  		DELETE FROM review WHERE review_no = #{review_no} and user_id = #{user_id}
  	</delete>
  
  
  	<select id="getListWithPaging" resultType="com.classIT.domain.ReviewVO">

		<![CDATA[ 
			SELECT review_no, reserve_no, user_id, review_title, review_text, review_date, review_rate,review_img
			FROM (
				SELECT /*+ INDEX(rs idx_reserve_product_no) INDEX_DESC(r pk_review) */rownum rn ,r.review_no, r.reserve_no, r.user_id, r.review_title, r.review_text, r.review_date, r.review_rate,r.review_img
				FROM review r 
				JOIN reserve rs
				ON r.reserve_no = rs.reserve_no
				WHERE rs.product_no = #{product_no}  AND rownum <= #{cri.pageNum} * #{cri.amount}
			)
			WHERE rn > (#{cri.pageNum}-1) * #{cri.amount}
		]]> 
  	</select>  
  	
	<select id="getCountByProductNo" resultType="int">
		<![CDATA[ 
			SELECT /*+ INDEX(rs idx_reserve_product_no) INDEX_DESC(r pk_review) */ count(r.review_no)
			FROM review r 
			JOIN reserve rs
			ON r.reserve_no = rs.reserve_no
			WHERE rs.product_no = #{product_no}
		]]> 
  	</select> 
  	
  	
</mapper>